.search-form {
  display: flex;
  justify-content: center;
  background-color: #708090;
  padding: 10px;
  margin-bottom: 15px;
  input {
    padding: 15px 16px;
    border-radius: 4px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: #fff;
    color: rgba(19, 3, 3, 0.493);
    outline: rgba(0, 0, 0, 0);
  }

  button {
    padding: 10px 10px;
    border-radius: 4px;
    display: flex;
    background-color: #ff8c00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    position: absolute;
    left: 859px;
  }
}

.submit-icon {
  width: 30px;
  height: 30px;
}

a {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.photo-card {
  width: 350px;
}
.thumb {
  display: block;
  width: 350px;
  height: 200px;

  img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
  }
}

.info {
  display: flex;
}
.info-item {
  text-align: center;
}

.load-more {
  border: none;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.87;
  font-family: Roboto, sans-serif;
  display: none;
  letter-spacing: 0.06em;
  background-color: #ff8c00;

  cursor: pointer;
}

.load-more.cls {
  display: block;
  margin: 20px auto 10px;
}

.loader {
  background-color: transparent;
}
