.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.photo-card {
  width: 350px;
  height: 350px;
}
.thumb {
  display: block;
  width: 350px;
  height: 200px;

  img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
  }
}

.load-more {
  display: none;
}

.load-more.cls {
  display: block;
  margin: 50px auto 0px;
}
